treecontrol li {

  position: relative;
  padding-right: 20px;
  padding-left: 0px;
  line-height: 20px;
}

treecontrol.tree-classic li.tree-expanded i {
  padding-left: 35px;
}

treecontrol.tree-classic li.tree-collapsed i {
  padding-left: 35px;
}

treecontrol.tree-classic li.tree-leaf i {
  padding-left: 35px;
}
